{% extends "loginreg.html" %}
{% block content %}

<!--add user-->
<div class="col-lg-8 registration d-flex justify-content-center align-items-center">
    <div>
        
        <div class="messages" style="color: red;">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% if show_password_change_notification %}
    <div id="passwordChangeNotification" class="popup-notification">
      Time to change your password!
    </div>
    <script>
      setTimeout(function() {
        var notification = document.getElementById('passwordChangeNotification');
        notification.style.display = 'none';
      }, 10000);  // Hide the notification after 10 seconds
    </script>
  {% endif %}
            
        </div>
        <h2 class="text-center">Login Here</h2>
        <hr/>
        <!-- form to create user-->
        <form action="/login" method="POST">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-lg-6 input-group md-form form-sm">
                    <div class="input-group-append">
                        <span class="icon"><i class="fa fa-user mt-2 p-2"></i></span>
                        <input type="text" name="username" id="user_name" class="form-control mt-2" placeholder="User Name here">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 input-group md-form form-sm">
                    <div class="input-group-append">
                        <span class="icon"><i class="fa fa-lock" aria-hidden="true" style="margin-left:10px; margin-top:10px;"></i></span>
                        <input type="password" name="password" id="user_pass" class="form-control mt-2" placeholder="Password here">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="pass-link">
                    <a href="/password_reset" style="color: red;">Forgot password?</a>
                </div>
            </div>
            <!--Buttons -->
            <div class="row d-flex justify-content-center">
                <div class="col-sm-6 btn-group m-3">
                    <button type="submit" class="btn btn-outline-success ml-5"><b>Login</b></button>
                    <a href="/"><button type="button" class="btn btn-outline-warning ml-3">
                        Home</button></a>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <a href="/register" class="btn btn-link ml-3" style="color: green; text-decoration: underline; font-size: medium !important;">
                    Don't have an account? Click here to Register</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
