{% extends "loginreg.html" %}
{% block content %}
<!--add user-->
<div class="col-lg-8  registration" >
    <h2>Registration form</h2>
    <hr/>
<!-- form to create user-->
    <form  action="" method="POST"  class="registration-form" onsubmit="validateRegistrationForm(event)">
    {% csrf_token %}
    <!-- fullname -->
    <div class="row">
        <div class="col-lg-6 input-group md-form form-sm">
            <div class="input-group-append"   >
                <span class="icon"><i class="fa fa-user mt-2 p-2"></i></span>
                <input type="text" name="username" id="customer_username" onfocusout="fn()" class="form-control mt-2" placeholder="user Name">
            </div>
        </div>
    <!-- email -->
        <div class="col-lg-6 input-group md-form form-sm ">
            <div class="input-group-append">
                <span class="icon"><i class="fa fa-envelope mt-2 p-2 "></i></span>
                <input type="email" name="customer_email"  id="customer_email"  class="form-control mt-2" placeholder="Email Address">
            </div>
        </div>
    </div>
    <!-- Address -->
    <div class="row">
        <div class="col-lg-6 input-group md-form form-sm ">
            <div class="input-group-append">
                <span class="icon"><i class="fa fa-address-book mt-2 p-2 "></i></span>
                <input type="text" name="customer_address" id="customer_address" onfocusout="fn()" class="form-control mt-2" placeholder="Address" >
            </div>
        </div>
        <!-- Phone number-->
        <div class="col-lg-6 input-group md-form form-sm ">
            <div class="input-group-append">
                <span class="icon"><i class="fa fa-phone-square mt-2 p-2 "></i></span>
                <input type="text" name="customer_phone" id="customer_phone" onfocusout="fn()" class="form-control mt-2" placeholder="Phone Number">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 input-group md-form form-sm ">
            <div class="input-group-append">
                <span class="icon"><i class="fa fa-lock" aria-hidden="true" style="margin-left:10px; margin-top:10px;"></i></span>
                <input type="Password" name="password" id="customer_password" show="*"  class="form-control mt-2" placeholder="Password">
            </div>
        </div>
        <div class="col-lg-6 input-group md-form form-sm ">
            <div class="input-group-append">
                <span class="icon"><i class="fa fa-lock" aria-hidden="true"  style="margin-left:10px; margin-top:10px;"></i></span>
                <input type="Password" name="customer_cpass" id="customer_confirm-password"   class="form-control mt-2" placeholder="Confirm Password">
            </div>
        </div>
    </div>
    <!--Buttons -->
    <div class="row d-flex justify-content-center ">
    <div class="col-sm-6 btn-group m-3">
        <button  type="submit" class="btn btn-outline-success ml-5" ><b>Register</b></button>
        <a href="/"><button type="button"   class="btn btn-outline-warning ml-3">
            </i>Home</button></a>
    </div>
</div>
<div class="messages" style="color: red;" id="messages">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div>
    </form>

</div>
<script> 
    let last_login=new Date();
    document.getElementById('last_login').value=last_login
    function validateRegistrationForm($event){
        let customer_username=document.getElementById('customer_username');
        let customer_address=document.getElementById('customer_address');
        let customer_phone=document.getElementById('customer_phone');
        let customer_email=document.getElementById('customer_email');
        let customer_password=document.getElementById('customer_password');
        let customer_cpassword=document.getElementById('customer_confirm-password');
        let messages=[]
        let errorElement=document.getElementById('messages')
        let num=parseInt(customer_phone)
    
        if (customer_username.value=="" | customer_email.value=="" | customer_password.value==""| customer_cpassword.value==""|customer_address.value=="" | customer_phone==""){
            messages.push('All fields are required')
            $event.preventDefault();
        }
        else if(customer_password.value!=customer_cpassword.value){
            messages.push("password and confirm password doesnt match")
        }
        
        else if(Number.isInteger(num)){
            messages.push("enter integer in phone number and length must be 10")
        }
        
        if(messages.length>0){
            $event.preventDefault();
            errorElement.innerText=messages.join(',')
        }
    }
    </script>
{% endblock %}